<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (streamTicks)="addTick($event)"
        (tickerListClear)="clearTicker()"
      ></app-game-control>
    </div>
  </div>
  <div class="panel panel-default">
    <!-- <div class="panel-heading">{{ element.name }}</div> -->
    <div class="panel-heading">Ticker</div>
    <div class="panel-body">
      <p *ngFor="let tickValue of tickerList">
        <app-even
          *ngIf="tickValue % 2 == 0; else elseOdd"
          [tickValue]="tickValue"
        ></app-even>
        <ng-template #elseOdd>
          <app-odd [tickValue]="tickValue"></app-odd>
        </ng-template>
      </p>
    </div>
  </div>
  <hr />
  <app-cockpit
    (serverCreated)="addServer($event)"
    (bpCreated)="addBlueprint($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change First Element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">
        Destroy First Element
      </button>
      <app-server-element
        *ngFor="let serverElement of serverElements; let i = index"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
